
ul:hover li a{
    transform: scale(2);
    opacity:67;
    filter: blur(7px);


}
ul li a:hover{
    transform: scale(2);
    opacity:1;
    filter: blur(0px);
  
}


* {
    margin: 0rem;
    padding: 0%;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(19, 35, 42);
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    scroll-behavior: smooth;
}

#name1 {
    height: 50px;
    background: linear-gradient(180deg,rgb(143, 240, 8),rgb(7, 230, 238),rgb(239, 247, 6));
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.rpprojects {
    margin: 50px;
}

.firstrp {
    margin: auto;
    background-color:#fff;
    width:300px;
    /* height: 530px; */
    border-radius:15px;
    box-shadow:0px 0px 0px rgb(254, 254, 254); 
}
.firstrp:hover{
    box-shadow:0px 6px 15px rgb(249, 200, 7);
}

.firstrp img {
    width: 100%;
    max-height: 250px;
    border-top-left-radius:15px;
    border-top-right-radius:15px;

}

.firstrp h1 {
    color: coral;
}

.firstrp p {
    color: black;
    padding: 4px;
    line-height: 20px;
    text-align:start;
}

.rp-list-projects {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.rpload {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: rgb(29, 46, 53);
    border-radius: 50%;
    border: 6px solid rgb(214, 147, 24);
    font-size: 40px;
    padding: 10px;
    animation: border 2s 1s infinite;
}

@keyframes border {
    from {
        transform: rotateY(-180deg);
    }

    to {
        transform: rotateY(180deg);
    }
}

.rpheadings {
    font-size: 30px;
    color: azure;
    border-bottom: 4px solid rgb(214, 147, 24);
    margin-bottom: 2rem;
}

.rpskills {
    display: flex;
    flex-direction: column;
}

.rplanguages {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0px 250px;
}

.rplanguages li {
    list-style: repeating-radial-gradient(rgb(24, 24, 24), rgb(246, 206, 4), rgb(246, 245, 248));
    margin: 1.4rem 3.2rem;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.rpnew{
    display: flex;
    justify-content: center;
}

.skillheading {
    font-size: 30px;
    margin: 3rem 0rem;
    padding:8px;
    clip-path: polygon(0.5rem 0,100% 0,calc(100% - 0.5rem) 100% ,0 100%);
    background-color: orange;
}



.rpExperience ul li {
    font-size: 28px;
    margin: 5px;
}

.rpmail {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.btn {
    text-decoration: none;
    color: aliceblue;
    padding:8px;
    border-radius:5rem;
    font-weight: bold;
    cursor: pointer;
    background:orange;
    box-shadow:0 0 1rem orange;
    display: flex;
    flex-direction: row;
}

.btn:hover{
    box-shadow:0 0 1rem rgb(250, 246, 237);
}



.point {
    z-index: -1;
}

.list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    z-index: 0;
}

.list li {
    margin-right: 3rem;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
}

section {
    z-index: 0;
    margin: auto;
    padding-top:50px;
}

#home{
    padding-top:20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.list li a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    letter-spacing: 1px;
    padding: 2px 6px;
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.list li a:hover{
    box-shadow:0px 5px 15px black;
    border-top:3px solid orange;
}

.rpcontent {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 0;
}

.intro {
    margin-top: 13rem;
    margin-left: 6rem;
    display: flex;
    flex-direction: column;
    z-index: 0;
}

.intro1 {
    font-size: 25px;
    color: rgb(237, 120, 36);
    font-weight: 500;
    margin-bottom: 0%;
    letter-spacing: 1px;
    z-index: 0;
}

.intro2 {
    font-size: 50px;
    color: orange;
    font-weight: 800;
    z-index: 0;
    background: linear-gradient(180deg,rgb(9, 237, 39),rgb(243, 237, 237),indigo);
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;
}

.rpcontent {
    position: relative;
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
}

.content {
    display: flex;
    flex-direction: column;
}

.box {
    position: absolute;
    width: 200px;
    height: 700px;
    background-color: rgb(213, 234, 214);
    border-bottom-right-radius: 140px;
    top: 0%;
    z-index: 0;
}

.another {
    right: 0%;
    position: absolute;
    width: 200px;
    height: 700px;
    background-color: rgb(199, 221, 199);
    border-bottom-left-radius: 140px;
    top: 0%;
    z-index: 0;
}

.navbar {
    /* background-color: rgb(25, 49, 59); */
    background: transparent;
    background-color: rgb(58, 79, 88); 
    padding: 20px 20px;
    margin-left: auto;
    position: sticky;
    top: 0%;
    z-index: 2;
}

.pic {
    margin-right: 7rem;
    border-radius: 20%;
    width: 300px;
}

.image {
    margin-top: 10rem;
    width: 100%;
    border-radius:8px;
    border-bottom-right-radius:5rem;
    border-top-left-radius:5rem;
    background-color: transparent;
    box-shadow: 0px 5px 15px rgb(17, 17, 17);
}
.image:hover{
    scale:1.05;
    box-shadow: 0px 0px 0px rgb(17, 17, 17);
}

section {
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#experience {
    margin-bottom: 30px;
}

#contact {
    height: 300px;
    font-size: 24px;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgb(24, 40, 46);
}

.line {
    width: 30px;
    height: 4.8px;
    background-color: rgb(227, 102, 30);
    margin-bottom: 2.8px;
}

.menu {
    display: none;
}

#contact a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}


.rpprojectlan,.rpprojectmedia{
    display: flex;
    flex-direction:row;
    color: black;
}
.rpprojectlan p{
    margin:1rem;
    background-color:rgb(172, 238, 106);
    border-radius:5px;
    box-shadow:0px 1px 3px rgb(57, 54, 54);
}

.firstrp h1{
    text-align: justify;
    margin:0rem 1rem;
    color: rgb(62, 59, 59); 
}

.rpprojectmedia a
{
    text-decoration: none;
    margin:1rem;
    background-color: rgb(138, 217, 239);
    border-radius:5px;
    padding:5.5px;
    box-shadow:0px 1px 6px rgb(57, 54, 54);
}

.rpprojectmedia a:hover{
    outline:2px solid black;
}
.list li{
    font-size:36px;
}
.list li a i{
    font-size: larger;
}

.aboutText{
    font-size:26px;
}
.rpExperience ul li {
       list-style: none; 
}

.rpimage{
    height: 200px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rpimage img{
    width:180px;
    height:180px;
    border-radius:10px;
    background-size:contain;
}



















/* loader css */


.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff;
  }
  .preloader h1{
    position: absolute;
    background-color: orangered;
    color: aqua;
    top:50%;
    left:50%;
    border-radius:5rem;
    box-shadow:0px 0px 1rem red;
    animation:animate 2s infinite;
    padding:10px;
  }

@keyframes animate{
    from {
        font-size:0px;
        transform: rotate(0deg);
    }
    to{
        font-size:40px;
        transform: rotate(360deg);
    }
}










@media screen and (max-width:400px) {

    .aboutText{
        font-size:19px;
    }
    .rplanguages li {
        /* list-style: repeating-radial-gradient(rgb(233, 85, 11), rgb(7, 246, 7), rgb(65, 7, 237)); */
        margin: .6rem rem;
        font-size: large;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .rpcontent {
        display: flex;
        flex-direction: column;
    }

   

    .rplanguages {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        padding: 0px 40px;
    }

    .skillheading {
        font-size: 22px;
        margin: 1.2rem 0rem;
        color:white;
        font-weight: bold;
    }

    .rplanguages picture img {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        margin: 10px;
    }

    .pic {
        margin: 0;
        display: flex;
        text-align: center;
        justify-content: end;
        align-items: center;
        position: relative;
    }

    .intro {
        margin: 0%;
        position: relative;
        font-size:20px;
    }

    .intro1 {
        font-size: 23px;
    }

    .intro2 {
        font-size:30px;
        color: orange;
        font-weight:600;
        z-index: 0;
    }

   

    .content {
        padding-top: 20px;
    }

    .list {
        flex-direction: column;
        background-color: rgb(25, 49, 59);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 50px;
    }

    .point {
        display: none;
        cursor: pointer;
        transition:1s ease-in;
        position: absolute;
        width: 100%;
        height: 0%;
    }

    section {
        position: relative;
    }
#about{
   margin-top:45px;
}
#experience{
    margin-top:22px;
}
    .create {
        display: block;
        height: auto;
    }



    .list li {
        margin: 1rem;
        font-size:30px;
    }

    .list li a {
        color: rgb(247, 243, 243);
        font-size: 30px;
    }

    .menu {
        display: block;
        width: 100%;
        padding: 5px;
    }

    a {
        font-size: medium;
        font-weight: 700;
        right: 0%;
    }

    .rpcontent {
        position: relative;
    }

    .box,
    .another {
        display: none;
        height: 0%;
    }

    .image {
        margin-top: 2rem;
        margin-left: 4.5rem;
        width: 80%;
        border-radius: 10%;
    }
    #contact {
        height:220px;
        font-size:18px;
        flex-direction: column;
        justify-content: space-around;
        background-color: rgb(24, 40, 46);
    }
    .rpExperience ul li{
         font-size:20px;
        margin: 5px;
    }
}